.hau{
     padding-left: 3%;
     font-weight: 600;
     font-family: Comic Sans MS;
     color: #5019e8;
     text-shadow: -1px -2px 2px white;
}

.hauback{
     background-image: url('https://i.ibb.co/88WQzbC/Se-Background.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-blend-mode: soft-light;
     background-color: #70c2f8;
     box-shadow: 14px 22px 28px #c2c2c2;
     border-radius: 40px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 16px;
     padding-right: 16px;
     margin-bottom: 2%;
}

.headline1{
     text-align: center;
     font-size: 26px;
     font-weight: 700;
     text-shadow: 2px 3px #4f8fab;
     font-family: Comic Sans MS;
     margin: 0;
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.headline2{
     width: 60%;
     margin-top: 14px;
     margin-bottom: 14px;
     margin-left: auto;
     margin-right: auto;
     display: block;
}

.headline3{
     text-align: justify;
     font-size: 16px;
     line-height: 1.2;
     font-weight: 500;
     font-family: Comic Sans MS;
     margin: 0;
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.sdcauh1{
     font-size: 32px;
     font-weight: 700;
     font-family: Comic Sans MS;
     font-style: italic;
     text-shadow: 3px 3px 2px #c1c1c1;
     border-bottom-color: #70c2f8;
     border-bottom-width: 3px;
     border-bottom-style: solid;
     margin-top: 25px;
}

.sdcaup1{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #acb4ff;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcaup2{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cccbff;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcaup3{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #e3e4fe;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcaup4{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #f4f4fd;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcauh2{
     font-size: 36px;
     font-weight: 700;
     font-family: Comic Sans MS;
     font-style: italic;
     text-align: center;
     text-shadow: 3px 3px 2px #c1c1c1;
     border-bottom-color: #70c2f8;
     border-bottom-width: 3px;
     border-bottom-style: solid;
     margin-top: 25px;
}

.sdcauh3{
     font-size: 32px;
     font-weight: 600;
     font-family: Comic Sans MS;
     font-style: italic;
     text-shadow: 3px 3px 2px #c1c1c1;
     border-bottom-color: black;
     border-bottom-width: 1px;
     border-bottom-style: solid;
     margin-top: 20px;
}

.drmksimg{
     height: 300px;
     width: 300px;
     border-radius: 50%;
     border-color: #77b7ff;
     border-width: 8px;
     border-style: solid;
     box-shadow: 18px 6px 8px #bfbfbf;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: auto;
     margin-right: auto;
     display: block;
}

.sdcaup5{
     color: white;
     font-size: 24px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     border-radius: 0px 120px 0px 120px;
     text-shadow: 4px -3px 2px #7e7d7b;
     background-image: linear-gradient(135deg, #0eff2f , #e700d5);
     box-shadow: -24px 12px 22px 0px rgba(26, 69, 139, 0.31) inset;
     padding-top: 60px;
     padding-bottom: 60px;
     padding-left: 20px;
     padding-right: 20px;
     margin-bottom: 20px;
}

.sdcauh4{
     font-size: 32px;
     font-weight: 600;
     font-family: Comic Sans MS;
     font-style: italic;
     text-shadow: 3px 3px 2px #c1c1c1;
     border-bottom-color: black;
     border-bottom-width: 1px;
     border-bottom-style: solid;
     margin-top: 20px;
}

.drthimg{
     height: 300px;
     width: 300px;
     border-radius: 50%;
     border-color: #77b7ff;
     border-width: 8px;
     border-style: solid;
     box-shadow: 18px 6px 8px #bfbfbf;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: auto;
     margin-right: auto;
     display: block;
}

.sdcaup6{
     color: white;
     font-size: 24px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     border-radius: 120px 0px 120px 0px;
     text-shadow: 4px -3px 2px #7a799f;
     background-image: linear-gradient(135deg, #0eff2f , #e700d5);
     box-shadow: -24px 12px 22px 0px rgba(26, 69, 139, 0.31) inset;
     padding-top: 60px;
     padding-bottom: 60px;
     padding-left: 20px;
     padding-right: 20px;
     margin-bottom: 20px;
}