.he{
     padding-left: 3%;
     font-weight: 600;
     font-family: Comic Sans MS;
     color: #5019e8;
     text-shadow: -1px -2px 2px white;
}

.heback{
     background-image: url('https://i.ibb.co/XXrys75/Ed-Background.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-color: #70c2f8;
     box-shadow: 14px 22px 28px #c2c2c2;
     border-radius: 40px;
     padding-top: 6rem;
     padding-bottom: 4rem;
     padding-left: 5%;
     padding-right: 5%;
     margin-bottom: 2%;
}

.headlinee1{
     text-align: center;
     font-size: 35px;
     font-weight: 700;
     line-height: 0.4;
     text-shadow: 2px 3px #4f8fab;
     font-family: Comic Sans MS;
}

.headlinee2{
     text-align: center;
     font-size: 60px;
     font-weight: 700;
     line-height: 0.9;
     text-shadow: 2px 3px #4f8fab;
     font-family: Comic Sans MS;
}

.headlinee3{
     text-align: center;
     font-size: 35px;
     font-weight: 700;
     line-height: 0.9;
     text-shadow: 2px 3px #4f8fab;
     font-family: Comic Sans MS;
}

.headlinee4{
     text-align: center;
     font-size: 35px;
     font-weight: 700;
     line-height: 0.8;
     text-shadow: 2px 3px #4f8fab;
     font-family: Comic Sans MS;
}

.headlinee5{
     text-align: center;
     font-size: 60px;
     font-weight: 700;
     line-height: 0.8;
     text-shadow: 2px 3px #4f8fab;
     font-family: Comic Sans MS;
}

.sdcdeh1{
     font-size: 32px;
     font-weight: 700;
     font-family: Comic Sans MS;
     font-style: italic;
     text-shadow: 3px 3px 2px #c1c1c1;
     border-bottom-color: #70c2f8;
     border-bottom-width: 3px;
     border-bottom-style: solid;
     margin-top: 25px;
}

.lineimage{
     height: 80px;
     width: 80px;
     margin-left: 2%;
}

.sdcdep1{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
}

.sdcdep2{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
}

.sdcdeboxpos{
     display: flex;
}

@media (max-width: 950px) {
     .sdcdeboxpos {
          flex-direction: column;
     }
}

.sdcdebox1{
     background-color: #ffb1b1;
     border-radius: 60px;
     box-shadow: 10px 10px 10px #e48989;
     font-size: 16px;
     font-family: Comic Sans MS;
     text-align: center;
     width: 100%;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 1%;
     margin-right: 1%;
     padding: 20px;
     padding-top: 6%;
}

.sdcdebox2{
     background-color: #a8e5ff;
     border-radius: 60px;
     box-shadow: 10px 10px 10px #7cb8d2;
     font-size: 16px;
     font-family: Comic Sans MS;
     text-align: center;
     width: 100%;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 1%;
     margin-right: 1%;
     padding: 20px;
}

.sdcdebox3{
     background-color: #8ebbff;
     border-radius: 60px;
     box-shadow: 10px 10px 10px #698ec5;
     font-size: 16px;
     font-family: Comic Sans MS;
     text-align: center;
     width: 100%;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 1%;
     margin-right: 1%;
     padding: 20px;
     padding-top: 8%;
}

.sdcdebox4{
     background-color: #e29191;
     border-radius: 60px;
     box-shadow: 10px 10px 10px #e98b8b;
     font-size: 16px;
     font-family: Comic Sans MS;
     text-align: center;
     width: 100%;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 1%;
     margin-right: 1%;
     padding: 20px;
     padding-top: 6%;
}

.sdcdep3{
     font-size: 18px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 3%;
}

.excessiveimg{
     margin-left: auto;
     margin-right: auto;
     display: block;
}

.excessiveline{
     text-align: center;
     color: #0008CC;
     font-weight: 500;
     font-family: Comic Sans MS;
}

.sdcdepp45{
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 2%;
     margin-right: 2%;
}

.sdcdep4{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 18px;
     margin-right: 18px;
     padding-top: 18px;
}

.sdcdep5{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 18px;
     margin-right: 18px;
     padding-bottom: 18px;
}

.sdcdehp26{
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 2%;
     margin-right: 2%;
     padding: 18px;
}

.sdcdeh2{
     margin-left: 4%;
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     margin-left: 2%;
     margin-right: 2%;
     padding-top: 13px;
}

.sdcdep6{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     padding-bottom: 20px;
}

.sdcdehp37{
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-top: 15px;
     margin-bottom: 15px;
     margin-left: 2%;
     margin-right: 2%;
     padding: 18px;
}

.sdcdeh3{
     margin-left: 4%;
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     margin-left: 2%;
     margin-right: 2%;
     padding-top: 13px;
}

.sdcdep7{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     padding-bottom: 20px;
}

.sdcdep8{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 30px;
}

.sdcdep9{
     font-size: 15px;
     font-weight: 200;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 26px;
     margin-bottom: 40px;
}

.dcircles{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.circle1{
     background-color: #b4e7f8;
     border-radius: 50%;
     box-shadow: 8px 1px 18px #26172d;
     text-align: center;
     font-size: 1.2rem;
     font-family: Comic Sans MS;
     height: 10rem;
     width: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5%;
     margin-right: 8px;
}

.circle2{
     background-color: #d3ffcb;
     border-radius: 50%;
     box-shadow: -8px 1px 18px #26172d;
     text-align: center;
     font-size: 1.2rem;
     font-family: Comic Sans MS;
     height: 10rem;
     width: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5%;
     margin-right: 8px;
}

.circle3{
     background-color: #dfff9a;
     border-radius: 50%;
     box-shadow: 8px 1px 18px #26172d;
     text-align: center;
     font-size: 1.1rem;
     font-family: Comic Sans MS;
     height: 10rem;
     width: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5%;
     margin-right: 8px;
}

.circle4{
     background-color: #e8cbff;
     border-radius: 50%;
     box-shadow: -8px 1px 18px #26172d;
     text-align: center;
     font-size: 1.2rem;
     font-family: Comic Sans MS;
     height: 10rem;
     width: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5%;
     margin-right: 8px;
}

.circle5{
     background-color: #fecece;
     border-radius: 50%;
     box-shadow: 8px 1px 18px #26172d;
     text-align: center;
     font-size: 1.2rem;
     font-family: Comic Sans MS;
     height: 10rem;
     width: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5%;
     margin-right: 8px;
}

.circle6{
     background-color: #fff3b5;
     border-radius: 50%;
     box-shadow: -8px 1px 18px #26172d;
     text-align: center;
     font-size: 1.2rem;
     font-family: Comic Sans MS;
     height: 10rem;
     width: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5%;
     margin-right: 8px;
}

.circle7{
     background-color: #ffc4aa;
     border-radius: 50%;
     box-shadow: 8px 1px 18px #26172d;
     text-align: center;
     font-size: 1.2rem;
     font-family: Comic Sans MS;
     height: 10rem;
     width: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5%;
     margin-right: 8px;
}

.circle8{
     background-color: #b4e7f8;
     border-radius: 50%;
     box-shadow: -8px 1px 18px #26172d;
     text-align: center;
     font-size: 1.2rem;
     font-family: Comic Sans MS;
     height: 10rem;
     width: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5%;
}

.sdcdeh4{
     font-size: 32px;
     font-weight: 700;
     font-family: Comic Sans MS;
     font-style: italic;
     text-shadow: 3px 3px 2px #c1c1c1;
     border-bottom-color: #70c2f8;
     border-bottom-width: 3px;
     border-bottom-style: solid;
     margin-top: 30px;
}

.sdcdep10{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 40px;
     padding: 18px;
}

.adaprep{
     display: flex;
     align-items: center;
     justify-self: center;
     vertical-align: middle;
}

.adaprem{
     margin-left: auto;
     margin-right: auto;
     display: block;
}

.adapre{
     height: 200px;
     width: 200px;
     background-color: #ffe9e9;
     box-shadow: 18px 5px 2px #ffd0d0;
     border-radius: 50%;
     font-size: 18px;
     font-weight: 500;
     font-family: Comic Sans MS;
     text-align: center;
     display: flex;
     align-items: center;
     justify-self: center;
}

.adapreline1{
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #d9d9d9 , #fefefe);
     box-shadow: 18px 6px 2px #d5ffc1;
     border-radius: 35px;
     margin-top: 3%;
     padding-top: 3%;
     padding-bottom: 3%;
     padding-left: 5%;
     padding-right: 5%;
}

.adapreline2{
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #d9d9d9 , #fefefe);
     box-shadow: 18px 6px 2px #c8f8ff;
     border-radius: 35px;
     margin-top: 3%;
     padding-top: 3%;
     padding-bottom: 3%;
     padding-left: 5%;
     padding-right: 5%;
}

.adapreline3{
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #d9d9d9 , #fefefe);
     box-shadow: 18px 6px 2px #fdffbf;
     border-radius: 35px;
     margin-top: 3%;
     padding-top: 3%;
     padding-bottom: 3%;
     padding-left: 5%;
     padding-right: 5%;
}

.sdcdep11{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 30px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep12{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 30px;
     margin-bottom: 20px;
}

.riskpos{
     display: flex;
     align-items: center;
     justify-self: center;
     vertical-align: middle;
}

.riskp{
     margin-left: auto;
     margin-right: auto;
     display: block;
}

.riskpre{
     height: 260px;
     width: 260px;
     background-color: #fff6f6;
     box-shadow: 18px 5px 20px #dbdbdb;
     border-radius: 50%;
     font-size: 28px;
     font-weight: 500;
     font-family: Comic Sans MS;
     text-align: center;
     display: flex;
     align-items: center;
     justify-self: center;
}

.num1{
     background-color: #f3f3f3;
     box-shadow: -4px 4px 16px #cacaca;
     border-radius: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     font-family: Comic Sans MS;
     margin-bottom: 1%;
     margin-right: -1%;
     z-index: 1;
}

.tex1{
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     background-image: linear-gradient(to right, #aa6ac8 , #deb1f2);
     box-shadow: 10px 8px 4px #c1bdc9;
     border-radius: 35px;
     margin: 1%;
     margin-left: -3%;
     margin-bottom: 2%;
     padding: 0.5%;
     padding-left: 8%;
     padding-right: 5%;
}

.num2{
     background-color: #f3f3f3;
     box-shadow: -4px 4px 16px #cacaca;
     border-radius: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     font-family: Comic Sans MS;
     margin-bottom: 1%;
     margin-right: -1%;
     z-index: 1;
}

.tex2{
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     background-image: linear-gradient(to right, #8866c6 , #bb98f7);
     box-shadow: 10px 8px 4px #c1bdc9;
     border-radius: 35px;
     margin: 1%;
     margin-left: -3%;
     margin-bottom: 2%;
     padding: 0.5%;
     padding-left: 8%;
     padding-right: 5%;
}

.num3{
     background-color: #f3f3f3;
     box-shadow: -4px 4px 16px #cacaca;
     border-radius: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     font-family: Comic Sans MS;
     margin-bottom: 1%;
     margin-right: -1%;
     z-index: 1;
}

.tex3{
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     background-image: linear-gradient(to right, #62a5da , #cde6fa);
     box-shadow: 10px 8px 4px #c1bdc9;
     border-radius: 35px;
     margin: 1%;
     margin-left: -3%;
     margin-bottom: 2%;
     padding: 0.5%;
     padding-left: 8%;
     padding-right: 5%;
}

.num4{
     background-color: #f3f3f3;
     box-shadow: -4px 4px 16px #cacaca;
     border-radius: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     font-family: Comic Sans MS;
     margin-bottom: 1%;
     margin-right: -1%;
     z-index: 1;
}

.tex4{
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     background-image: linear-gradient(to right, #de9610 , #fbe4ba);
     box-shadow: 10px 8px 4px #c1bdc9;
     border-radius: 35px;
     margin: 1%;
     margin-left: -3%;
     margin-bottom: 2%;
     padding: 0.5%;
     padding-left: 8%;
     padding-right: 5%;
}

.num5{
     background-color: #f3f3f3;
     box-shadow: -4px 4px 16px #cacaca;
     border-radius: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     font-family: Comic Sans MS;
     margin-bottom: 1%;
     margin-right: -1%;
     z-index: 1;
}

.tex5{
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     background-image: linear-gradient(to right, #afdb3f , #edfacc);
     box-shadow: 10px 8px 4px #c1bdc9;
     border-radius: 35px;
     margin: 1%;
     margin-left: -3%;
     margin-bottom: 2%;
     padding: 0.5%;
     padding-left: 8%;
     padding-right: 5%;
}

.sdcdep13{
     font-size: 20px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 30px;
     margin-bottom: 30px;
}

.sdcdeh5{
     font-size: 32px;
     font-weight: 700;
     font-family: Comic Sans MS;
     font-style: italic;
     text-shadow: 3px 3px 2px #c1c1c1;
     border-bottom-color: #70c2f8;
     border-bottom-width: 3px;
     border-bottom-style: solid;
     margin-top: 25px;
}

.sdcdep14{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep15{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep16{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep17{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep18{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep19{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #835ec3 , #e7ddf9);
     box-shadow: 4px 4px 12px #c1c1c1;
     border-radius: 25px;
     margin: 1%;
     margin-top: 15px;
     margin-bottom: 15px;
     padding: 1%;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 5%;
     padding-right: 5%;
}

.sdcdep20{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #64a7db , #d6eafb);
     box-shadow: 4px 4px 12px #c1c1c1;
     border-radius: 35px;
     margin: 1%;
     margin-top: 15px;
     margin-bottom: 15px;
     padding: 1%;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 5%;
     padding-right: 5%;
}

.sdcdep21{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #de9510 , #fceccf);
     box-shadow: 4px 4px 12px #c1c1c1;
     border-radius: 25px;
     margin: 1%;
     margin-top: 15px;
     margin-bottom: 15px;
     padding: 1%;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 5%;
     padding-right: 5%;
}

.sdcdep22{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #b0db41 , #eefbce);
     box-shadow: 4px 4px 12px #c1c1c1;
     border-radius: 35px;
     margin: 1%;
     margin-top: 15px;
     margin-bottom: 15px;
     padding: 1%;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 5%;
     padding-right: 5%;
}

.sdcdeh6{
     font-size: 32px;
     font-weight: 700;
     font-family: Comic Sans MS;
     font-style: italic;
     text-shadow: 3px 3px 2px #c1c1c1;
     border-bottom-color: #70c2f8;
     border-bottom-width: 3px;
     border-bottom-style: solid;
     margin-top: 25px;
}

.sdcdep23{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep24{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep25{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep26{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdeh7{
     font-size: 24px;
     font-weight: 500;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 40px;
     margin-bottom: 10px;
}

.sdcdeh8{
     font-size: 32px;
     font-weight: 700;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
}

.sdcdep27{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep2829{
     text-align: center;
     margin-top: 30px;
     margin-bottom: 50px;
}

.sdcdep28{
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
}

.sdcdep29{
     font-size: 20px;
     font-weight: 500;
     font-family: Comic Sans MS;
     line-height: 1.3;
}

.hexcont1{
     width: 100%;
     display: flex;
     justify-content: center;
}

.hex11{
     z-index: -1;
     margin-left: 5px;
     margin-right: 5px;
}

.hex12{
     z-index: -1;
     margin-left: 5px;
     margin-right: 5px;
}

.hex13{
     z-index: -1;
     margin-left: 5px;
     margin-right: 5px;
}

.hexcont2{
     width: 100%;
     display: flex;
     justify-content: center;
}

.hex21{
     z-index: -1;
     margin-top: 40px;
     margin-left: 5px;
     margin-right: 5px;
}

.hex22{
     z-index: -1;
     margin-top: 40px;
     margin-left: 5px;
     margin-right: 5px;
}

.hexagon1 {
     width: 100px;
     height: 55px;
     position: relative;
}

.hexagon1, 
.hexagon1:before, 
.hexagon1:after {
     background-image: linear-gradient(to top, #7548c7 , #dfd2f7);
     z-index: 0;
     box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.hexagon1:before,
.hexagon1:after {
     content: "";
     position: absolute;
     left: 22px;
     width: 57px;
     height: 57px;
     transform: rotate(145deg) skew(22.5deg);
}

.hexagon1:before {
     top: -29px;
}

.hexagon1:after {
     top: 27px;
}

.hexagon1 span {
     position: absolute;
     top: 0;
     left: 0;
     width: 100px;
     height: 55px;
     background-image: linear-gradient(to right, #7548c7 , #dfd2f7);
     z-index: 1;
}

.hexname1{
     font-size: 20px;
     font-weight: 800;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.2;
     padding: 5px;
}

.hexagon2 {
     width: 100px;
     height: 55px;
     position: relative;
}

.hexagon2, 
.hexagon2:before, 
.hexagon2:after {
     background-image: linear-gradient(to top, #62a5da , #cde6fa);
     z-index: 0;
     box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.hexagon2:before,
.hexagon2:after {
     content: "";
     position: absolute;
     left: 22px;
     width: 57px;
     height: 57px;
     transform: rotate(145deg) skew(22.5deg);
}

.hexagon2:before {
     top: -29px;
}

.hexagon2:after {
     top: 27px;
}

.hexagon2 span {
     position: absolute;
     top: 0;
     left: 0;
     width: 100px;
     height: 55px;
     background-image: linear-gradient(to right, #62a5da , #cde6fa);
     z-index: 1;
}

.hexname2{
     font-size: 20px;
     font-weight: 800;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.2;
     padding: 5px;
}

.hexagon3 {
     width: 100px;
     height: 55px;
     position: relative;
}

.hexagon3, 
.hexagon3:before, 
.hexagon3:after {
     background-image: linear-gradient(to top, #df9917 , #fcebcc);
     z-index: 0;
     box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.hexagon3:before,
.hexagon3:after {
     content: "";
     position: absolute;
     left: 22px;
     width: 57px;
     height: 57px;
     transform: rotate(145deg) skew(22.5deg);
}

.hexagon3:before {
     top: -29px;
}

.hexagon3:after {
     top: 27px;
}

.hexagon3 span {
     position: absolute;
     top: 0;
     left: 0;
     width: 100px;
     height: 55px;
     background-image: linear-gradient(to right, #df9917 , #fcebcc);
     z-index: 1;
}

.hexname3{
     font-size: 20px;
     font-weight: 800;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.2;
     padding: 5px;
}

.hexagon4 {
     width: 100px;
     height: 55px;
     position: relative;
}

.hexagon4, 
.hexagon4:before, 
.hexagon4:after {
     background-image: linear-gradient(to top, #b3dc47 , #edfacc);
     z-index: 0;
     box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.hexagon4:before,
.hexagon4:after {
     content: "";
     position: absolute;
     left: 22px;
     width: 57px;
     height: 57px;
     transform: rotate(145deg) skew(22.5deg);
}

.hexagon4:before {
     top: -29px;
}

.hexagon4:after {
     top: 27px;
}

.hexagon4 span {
     position: absolute;
     top: 0;
     left: 0;
     width: 100px;
     height: 55px;
     background-image: linear-gradient(to right, #b3dc47 , #edfacc);
     z-index: 1;
}

.hexname4{
     font-size: 17px;
     font-weight: 800;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.2;
     padding: 5px;
}

.hexagon5 {
     width: 100px;
     height: 55px;
     position: relative;
}

.hexagon5, 
.hexagon5:before, 
.hexagon5:after {
     background-image: linear-gradient(to top, #ff3838 , #f9d5d5);
     z-index: 0;
     box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.hexagon5:before,
.hexagon5:after {
     content: "";
     position: absolute;
     left: 22px;
     width: 57px;
     height: 57px;
     transform: rotate(145deg) skew(22.5deg);
}

.hexagon5:before {
     top: -29px;
}

.hexagon5:after {
     top: 27px;
}

.hexagon5 span {
     position: absolute;
     top: 0;
     left: 0;
     width: 100px;
     height: 55px;
     background-image: linear-gradient(to right, #ff3838 , #f9d5d5);
     z-index: 1;
}

.hexname5{
     font-size: 20px;
     font-weight: 800;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.2;
     padding: 5px;
}

.sdcdep3031{
     text-align: center;
     margin-top: 80px;
     margin-bottom: 20px;
}

.sdcdep30{
     font-size: 20px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
}

.sdcdep31{
     font-size: 20px;
     font-weight:500;
     font-family: Comic Sans MS;
     line-height: 1.3;
}

.badcpos1{
     margin: 2%;
}

.badci1{
     height: 160px;
     width: 50%;
     border-radius: 40px 0px 0px 40px;
}

.badc1{
     background-image: linear-gradient(to right, #7041c4 , #e7ddf9);
     border-radius: 0px 40px 40px 0px;
     font-size: 16px;
     font-weight: 600;
     font-family: Comic Sans MS;
     text-align: center;
     display: flex;
     justify-items: center;
     align-items: center;
     height: 160px;
     width: 50%;
     padding: 8px;
}

.badcpos2{
     margin: 2%;
}

.badci2{
     height: 160px;
     width: 50%;
     border-radius: 40px 0px 0px 40px;
}

.badc2{
     background-image: linear-gradient(to right, #7db6e3 , #c6e1f7);
     border-radius: 0px 40px 40px 0px;
     font-size: 16px;
     font-weight: 600;
     font-family: Comic Sans MS;
     text-align: center;
     display: flex;
     justify-items: center;
     align-items: center;
     height: 160px;
     width: 50%;
     padding: 8px;
}

.badcpos3{
     margin: 2%;
}

.badci3{
     height: 160px;
     width: 50%;
     border-radius: 40px 0px 0px 40px;
}

.badc3{
     background-image: linear-gradient(to right, #e6aa3d , #f7dcaa);
     border-radius: 0px 40px 40px 0px;
     font-size: 16px;
     font-weight: 600;
     font-family: Comic Sans MS;
     text-align: center;
     display: flex;
     justify-items: center;
     align-items: center;
     height: 160px;
     width: 50%;
     padding: 8px;
}

.badcpos4{
     margin: 2%;
}

.badci4{
     height: 160px;
     width: 50%;
     border-radius: 40px 0px 0px 40px;
}

.badc4{
     background-image: linear-gradient(to right, #bce15d , #dff3ab);
     border-radius: 0px 40px 40px 0px;
     font-size: 16px;
     font-weight: 600;
     font-family: Comic Sans MS;
     text-align: center;
     display: flex;
     justify-items: center;
     align-items: center;
     height: 160px;
     width: 50%;
     padding: 8px;
}

.badcpos5{
     margin: 2%;
}

.badci5{
     height: 160px;
     width: 50%;
     border-radius: 40px 0px 0px 40px;
}

.badc5{
     background-image: linear-gradient(to right, #ff4444 , #ffb4b4);
     border-radius: 0px 40px 40px 0px;
     font-size: 16px;
     font-weight: 600;
     font-family: Comic Sans MS;
     text-align: center;
     display: flex;
     justify-items: center;
     align-items: center;
     height: 160px;
     width: 50%;
     padding: 8px;
}

.badcpos6{
     margin: 2%;
}

.badci6{
     height: 160px;
     width: 50%;
     border-radius: 40px 0px 0px 40px;
}

.badc6{
     background-image: linear-gradient(to right, #fce409 , #fffbd8);
     border-radius: 0px 40px 40px 0px;
     font-size: 16px;
     font-weight: 600;
     font-family: Comic Sans MS;
     text-align: center;
     display: flex;
     justify-items: center;
     align-items: center;
     height: 160px;
     width: 50%;
     padding: 8px;
}

.badlastc{
     margin-left: auto;
     margin-right: auto;
     display: block;
}

.sdcdehp932{
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 30px;
     padding: 18px;
}

.sdcdeh9{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
}

.sdcdep32{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
}

.sdcdeh10{
     font-size: 32px;
     font-weight: 700;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
}

.sdcdep33{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep34{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdeh11{
     font-size: 24px;
     font-weight: 500;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 40px;
     margin-bottom: 20px;
}

.sdcdeh12{
     font-size: 32px;
     font-weight: 700;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
}

.sdcdep35{
     font-size: 22px;
     font-weight: 500;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 40px;
}

.sdcdeh13{
     font-size: 28px;
     font-weight: 700;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
}

.arrpos{
     display: flex;
     justify-content: center;
}

.arr1{
     height: 100px;
     width: 40%;
}

.arr2{
     height: 100px;
     width: 4px;
}

.arr3{
     height: 100px;
     width: 40%;
}

.gf123f{
     display: flex;
}

.gf01back{
     background-image: linear-gradient(to bottom, #906ad4 , #bda6e8);
     border-color: #d8d8d8;
     border-width: 5px;
     border-style: solid;
     border-radius: 60px;
     text-align: center;
     width: 100px;
     font-size: 12px;
     padding-bottom: 3%;
}

.gf02back{
     background-image: linear-gradient(to bottom, #84bae5 , #e1effa);
     border-color: #d8d8d8;
     border-width: 5px;
     border-style: solid;
     border-radius: 60px;
     text-align: center;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100px;
     font-size: 12px;
     padding-bottom: 3%;
}

.gf03back{
     background-image: linear-gradient(to bottom, #ff4e4e , #ffb3b3);
     border-color: #d8d8d8;
     border-width: 5px;
     border-style: solid;
     border-radius: 60px;
     text-align: center;
     width: 100px;
     padding-bottom: 3%;
}

.numimg{
     height: 50px;
     margin-top: 50%;
     margin-bottom: 20%;
}

.gf123texth{
     font-size: 10px;
     font-weight: 600;
     font-family: Comic Sans MS;
     margin-top: 20%;
}

.gf123text{
     font-size: 12px;
     font-weight: 500;
     font-family: Comic Sans MS;
     line-height: 0.6;
}

.sdcdeh14{
     font-size: 28px;
     font-weight: 700;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 40px;
     margin-bottom: 20px;
}

.sdcdep36{
     font-size: 22px;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
}

.tripos{
     display: flex;
     justify-content: center;
     align-items: center;
}

@media (max-width: 950px) {
     .tripos {
          flex-direction: column;
     }
}

.triangle1{
     text-align:right;
     width: 0px;
     height: 0px;
     border-style: inset;
     border-width: 0 100px 150px 100px;
     border-color: transparent transparent #b194e2 transparent;
}

.tritext1{
     text-align: center;
     top: 68px;
     left: -50px;
     position: relative;
     width: 100px;
     height: 93px;
     margin: 0px;
     font-size: 14px;
     font-weight: 400;
     font-family: Comic Sans MS;
}

.triangle2{
     text-align:right;
     width: 0px;
     height: 0px;
     border-style: inset;
     border-width: 0 100px 150px 100px;
     transform: rotate(180deg);
     border-color: transparent transparent #dbf0a4 transparent;
}

.tritext2{
     text-align: center;
     top: 30px;
     left: -47px;
     position: relative;
     width: 93px;
     height: 93px;
     margin: 0px;
     transform: rotate(180deg);
     font-size: 14px;
     font-weight: 400;
     font-family: Comic Sans MS;
}

.triangle3{
     text-align:right;
     width: 0px;
     height: 0px;
     border-style: inset;
     border-width: 0 100px 150px 100px;
     border-color: transparent transparent #ff9999 transparent;
}

.tritext3{
     text-align: center;
     top: 45px;
     left: -47px;
     position: relative;
     width: 93px;
     height: 93px;
     margin: 0px;
     font-size: 14px;
     font-weight: 400;
     font-family: Comic Sans MS;
}

.triangle4{
     text-align:right;
     width: 0px;
     height: 0px;
     border-style: inset;
     border-width: 0 100px 150px 100px;
     transform: rotate(180deg);
     border-color: transparent transparent #a9d0ef transparent;
}

.tritext4{
     text-align: center;
     top: 50px;
     left: -55px;
     position: relative;
     width: 110px;
     height: 93px;
     margin: 0px;
     transform: rotate(180deg);
     font-size: 12px;
     font-weight: 400;
     font-family: Comic Sans MS;
}

.sdcdep37{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 40px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep38{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdeh15{
     font-size: 32px;
     font-weight: 700;
     font-family: Comic Sans MS;
     font-style: italic;
     text-shadow: 3px 3px 2px #c1c1c1;
     border-bottom-color: #70c2f8;
     border-bottom-width: 3px;
     border-bottom-style: solid;
     margin-top: 25px;
}

.sdcdep3940{
     margin: 1%;
     text-align: center;
}

.sdcdep39{
     font-size: 22px;
     font-weight: 600;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-bottom: 1%;
}

.sdcdep40{
     font-size: 20px;
     font-weight: 500;
     font-family: Comic Sans MS;
     font-style: italic;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-bottom: 1%;
}

.sdcdep41{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep42{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep43{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep44{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep45{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep46{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep47{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep48{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #ffdce2;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdep49{
     font-size: 15px;
     font-family: Comic Sans MS;
     text-align: justify;
     line-height: 1.3;
     background-color: #cbf4fa;
     box-shadow: 4px 4px 12px #c1c1c1;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20px;
     margin-bottom: 20px;
     padding: 18px;
}

.sdcdeh16{
     font-size: 18px;
     font-weight: 200;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 40px;
     margin-bottom: 20px;
}

.sdcdep50{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #8d6fc0 , #e7ddf9);
     box-shadow: 4px 4px 12px #c1c1c1;
     border-radius: 25px;
     padding: 10px;
     padding-left: 15px;
     padding-right: 10px;
}

.sdcdep51{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #64a7db , #d6eafb);
     box-shadow: 4px 4px 12px #c1c1c1;
     border-radius: 25px;
     padding: 10px;
     padding-left: 15px;
     padding-right: 10px;
}

.sdcdep52{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #de9510 , #fceccf);
     box-shadow: 4px 4px 12px #c1c1c1;
     border-radius: 25px;
     padding: 10px;
     padding-left: 15px;
     padding-right: 10px;
}

.sdcdep53{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #b0db41 , #eefbce);
     box-shadow: 4px 4px 12px #c1c1c1;
     border-radius: 25px;
     padding: 10px;
     padding-left: 15px;
     padding-right: 10px;
}

.sdcdep54{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #ff4d4d , #ffd3d3);
     box-shadow: 4px 4px 12px #c1c1c1;
     border-radius: 25px;
     padding: 10px;
     padding-left: 15px;
     padding-right: 10px;
}

.sdcdep55{
     font-size: 15px;
     font-weight: 600;
     font-family: Comic Sans MS;
     line-height: 1.3;
     margin-left: 2%;
     margin-right: 2%;
     background-image: linear-gradient(to right, #f488fe , #fcdcff);
     box-shadow: 4px 4px 12px #c1c1c1;
     border-radius: 25px;
     padding: 10px;
     padding-left: 15px;
     padding-right: 10px;
}

.sdcdeh17{
     font-size: 24px;
     font-weight: 500;
     font-family: Comic Sans MS;
     text-align: center;
     line-height: 1.3;
     margin-top: 1%;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 30px;
     margin-bottom: 20px;
}

.fitg{
     text-align: center;
     font-weight: bold;
     font-family: Comic Sans MS;
}