.hfaq{
     padding-left: 3%;
     font-weight: 600;
     font-family: Comic Sans MS;
     color: #5019e8;
     text-shadow: -1px -2px 2px white;
}

.hfaqback{
     background-image: url('https://i.ibb.co/Tr1r8cW/FAQ-Background.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 90% 100%;
     background-color: #70c2f8;
     box-shadow: 14px 22px 28px #c2c2c2;
     border-radius: 40px;
     height: 300px;
     padding-top: 6rem;
     padding-bottom: 4rem;
     padding-left: 5%;
     padding-right: 5%;
     margin-bottom: 2%;
}

.sdcfaqh1{
     font-size: 32px;
     font-weight: 700;
     font-family: Comic Sans MS;
     text-align: center;
     font-style: italic;
     text-shadow: 3px 3px 2px #c1c1c1;
     border-bottom-color: #70c2f8;
     border-bottom-width: 3px;
     border-bottom-style: solid;
     margin-bottom: 5%;
}

.rofaqcardbox{
     padding: 1rem;
     margin-bottom: 5%;
}

.rofaqcard{
     height: 450px;
     width: 250px;
     overflow: hidden;
}

.rofaqimg{
     height: 150px;
     width: 100%;
}

.rofaqhead{
     font-size: 22px;
     font-weight: 500;
     font-family: Comic Sans MS;
     margin-top: 5%;
}

.rofaqbody{
     font-size: 16px;
     font-weight: 200;
     font-family: Comic Sans MS;
}

.rofaqarr{
     float: right;
}